<h1>New Task</h1>
<br><br>
<div class="alert alert-error" style="display:none;">
	Please enter a title for the new task.
</div>
<span class="white label label-info">New Task</span>
<form class="form-horizontal hero-unit">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
	   <input type="text" id="inputTitle" placeholder="Title" value="<%= title %>">
    </div>  
  </div>
   <div class="control-group">
    <label class="control-label" for="inputStatus" >Status</label>
    <div class="controls">
    
      <select id="status" >      	 
      
		  <option value="0" <% if(taskStatus=='PENDING')print('selected')%>>  Pending</option>
		  <option value="1" <% if(taskStatus=='DONE')print('selected')%> >Done</option>
	 </select> 
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputType">Type</label>
    <div class="controls">
      <select id="type">
		  <option value="0" <% if(taskType=='NORMAL')print('selected')%>>Normal</option>
		  <option value="1" <% if(taskType=='URGENT')print('selected')%>>Urgent</option>
	 </select> 
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" id="createnewtask">SAVE</button>
      <button type="submit" class="btn" id="cancel">Cancel</button>
    </div>
  </div>
</form>