<h1>Reassign Task to Other User</h1>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Id</label>
    <div class="controls">
      <label ><%= id %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Title</label>
    <div class="controls">
      <label ><%= title %></label>
    </div>
  </div>
	 
	<div id="reassigntask-content" class="span6"></div>
	<div><a href="#taskslist" class="btn">Cancel</a></div>
</form>