<h1>Reassign Task to Other User</h1>
<span class="white label label-info">Reassign Task</span>
<form class="form-horizontal hero-unit">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Id</label>
    <div class="controls">
      <label ><%= id %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Title</label>
    <div class="controls">
      <label ><%= title %></label>
    </div>
  </div>
	 
	<div class="control-group">
		<label class="control-label" for="inputEmail">User</label>
  		<div class="controls">
			<div id="reassigntask-content" style="margin-left: -72px;"></div>
		</div>
	</div>
	<div class="control-group">
  		<div class="controls">
			<a href="#taskslist" class="btn">Cancel</a>
		</div>
	</div>
</form>