<div class="alert alert-error" style="display:none;">
</div>
<span class="white label label-info">Task Detail</span>
<form class="form-horizontal hero-unit">
  <div class="control-group">
    <label class="control-label" for="title">Title:</label>
    <div class="controls" id="title"><%= title%></div>
    
  </div>
   <div class="control-group">
    <label class="control-label" for="status">Status:</label>
   <div class="controls" id="status"><%= taskStatus %></div>
    
  </div>
  <div class="control-group">
    <label class="control-label" for="type">Type:</label>
   <div class="controls" id="type"><%= taskType %> </div>
    </div>
  </div>
  <div class="control-group">
  <div  class="controls"><a href="#taskslist" class="btn">Cancel</a></div>
  </div>
</form> 
